/* body {
    font: normal 16px Helvetica, Raleway, Arial, sans-serif;
} */

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
    font-size: 5rem;
    font-weight: 600;
}

section {
    padding: 60px 0;
}

.hero {
    background-color: white;
    width: 100%;
    min-height: 80vh;
    margin: 3rem 0;
}

.hero h1 {
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
}

.hero__image {
    margin: auto;
    display: block;
}

.hero__content {
    margin-top: 0;
}

.intro,
.intro-two {
    min-height: 300px;
    padding: 120px 0 0 0;
}

.intro {
    background-color: #424242;    
}


.intro h2,
.intro p {
    color: white;
}

.intro-two h2,
.intro-two p {
    color: #424242;
}

.intro h2,
.intro-two h2  {
    font-weight: 600;
}

.contain-demo {
  margin-top: 60px;
  text-align: center;
}


.contact {
    min-height: 200px;
    padding: 80px 0 60px 0;
    position: relative;
    color: white;
    background-color: #424242;
    /* background: #56ab2f;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #60D836, #a8e063);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #60D836, #a8e063); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .contact::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
} */
.contact h2 {
    z-index: 2;

}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.copyright {
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    background-color: #424242;
}

.copyright * {
    color: white;
}

/* body {
    background-color: black;
  }
   */
  #bod {
    width: 250px;
    height:250px;
    position: relative;
    margin: 20px auto;
    border-radius:30%;
    border: solid 10px darkslategray;
    overflow:hidden;
    z-index:10000;
    box-shadow: 0 0 200px darkslategray;
  }
  
  .spoke {
    background-color: grey;
    position: absolute;
    height: 175px;
    width:30px;
    margin-left: -15px;
    margin-top: -12.5px;
    left: 50%;
    border-radius: 5px;
    z-index: 10;
  }
  
  .spoke + .spoke {
    transform: rotateZ(45deg);
  }
  
  .spoke + .spoke + .spoke {
    transform: rotateZ(-45deg);
  }
  
  .spoke + .spoke + .spoke + .spoke {
    transform: rotateZ(90deg);
  }
  
  .cog {
    position:absolute;
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 10;
    animation: spin 10s infinite linear;
  }
  .cog + .cog {
    animation-delay:.19s;
    animation: spin2 10s infinite linear;
    margin-top: 160px;
    margin-left:30px;
  }
  .cog + .cog + .cog {
    animation: spin 10s infinite linear;
    margin-top: 65px;
    margin-left:165px;
  }
  
  .hole {
    position: absolute;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 3000;
    box-shadow: inset 0 0 90px darkslategray;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }